.about {
	display: flex;
	padding: 3vh;
	
	div {
        width: 40%;
	    p {
            padding: 2vh 0;
	}
	    img {
		width: 60%;
        padding: 0 2vh;
}
.planning {
	display: flex;
	flex-direction: row-reverse;
    padding: 3vh;
	div {
		width: 40%;
		p {
			padding: 2vh 0;
		}
	}
	img {
		width: 60%;
		padding: 0 2vh;
	}
}
.contact {
	margin: 0 30vh;
}
input[type="text"],
select,
textarea {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	font-size: 1.5rem;
	resize: vertical;
}

input[type="submit"] {
	background-color: #4caf50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}