nav {
	display: flex;
	position: fixed;
	background: white;
	max-width: 80vw;
	width: 100%;
	.title {
		width: 50%;
	}
	.navBar {
		display: flex;
		justify-content: flex-end;
		width: 50%;
		a {
			text-decoration: none;
			margin: 2vh 2vh 0;
		}
	}
}
